@charset 'UTF-8';

@use '../../node_modules/normalize.css/normalize.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: calc(6 * 100vh / 6);
  margin: 0 auto;
}

.tile {
  display: none;
  height: calc(100vh / 6);
  aspect-ratio: 1;

  &.active {
    display: block;
  }
}
