@charset 'UTF-8';

@use '../../node_modules/normalize.css/normalize.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html,
body {
  width: 100%;
  min-height: 100vh;
}

body {
  display: grid;
  place-content: center;
}

canvas {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

img {
  display: block;
  max-width: 100%;
}

.grid {
  --cols: 3;
  --padding: 1rem;

  display: grid;
  grid-template-columns: repeat(var(--cols), calc((100vmin - 2 * var(--padding)) / var(--cols)));
  grid-auto-rows: calc((100vmin - 2 * var(--padding)) / var(--cols));
  padding: var(--padding);
  margin: 0 auto;


  @media screen and (min-width: 450px) {
    --cols: 4;
    --padding: 3rem;
  }

  @media screen and (min-width: 768px) {
    --cols: 6;
    --padding: 5rem;
  }
}

.tile {
  display: none;
  aspect-ratio: 1;

  &.active {
    display: block;
  }
}
